<launch>
	<!-- State Machine -->
	<node name="state_machine" pkg="state_machine" type="state_machine" output="screen" clear_params = "true">
		<rosparam command="load" file="$(find state_machine)/cfg/waypoints_cfg.yaml"/>
    </node>

	<!--- Trajectory planner -->
	<node name="planner" pkg="planner" type="planner" output="screen" clear_params = "true">
		<rosparam command="load" file="$(find planner)/cfg/trajectory_config.yaml"/>
	</node>

	<!-- Trajectory Sampler -->
	<node name="sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen">
		<remap from="path_segments_4D" to="trajectory"/>
	</node >

	<!-- RVIZ -->
	<node type="rviz" name="rviz" pkg="rviz" respawn="false" args="-d $(find planner)/launch/trajectory_config.rviz" />

</launch>


