<launch>
	<!-- TODO -->
	<!-- Write new package for just launch files "orchestrator/commander" -->
	<!-- Add launch files to each package for standalone testing/debugging -->
	<!-- Sim: Add mavros px4 start -->
	<!-- Sim: Add gazebo sitl start-->
	<!-- Sim: Add qgroundcontrol exec start-->
	<!-- Sim: Add unity exec start-->
	<!-- Real: Add vrpn start-->
	<!-- Real: Add px4 usb start-->
	<!-- Real: Add unity exec start-->

	<!-- RVIZ -->
	<node type="rviz" name="rviz" pkg="rviz" respawn="false" args="-d $(find planner)/launch/trajectory_config.rviz" />

	<!-- Launch rqt_reconfigure -->
  	<node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

</launch>


